$image-breakpoints: (
  'medium': 768px,
  'small': 320px
)!default;

@mixin on($_device) {
  @each $breakpoint in $device-media-expressions {
    $device: nth($breakpoint, 1);
    $expression: nth($breakpoint, 2);
    @if $_device == $device and $expression {
      @media all and #{$expression} {
        @content;
      }
    }
    @if $_device == "base" {
      @content;
    }
  }
}


@mixin responsiveBg($path, $ext, $size) {

  background-image: url( #{$path}-large.#{$ext});

  @media  only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    background-image: url( #{$path}-xlarge.#{$ext});
    background-size: $size;
  }
  
  @each $breakpoint in $image-breakpoints {
    @media(max-width: #{nth($breakpoint, 2)}) {
      background-image: url( #{$path}-#{nth($breakpoint, 1)}.#{$ext});
    }
  }
}