$image-breakpoints: (
  'medium': 768px,
  'small': 320px
)!default;

@mixin on($_device) {
  @each $breakpoint in $device-media-expressions {
    $device: nth($breakpoint, 1);
    $expression: nth($breakpoint, 2);
    @if $_device == $device and $expression {
      @media all and #{$expression} {
        @content;
      }
    }
    @if $_device == "base" {
      @content;
    }
  }
}


@mixin responsiveBg($path, $ext) {
  background-image: image-url("#{$path}-large.#{$ext}");

  @media  only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
    background-image: image-url("#{$path}-xlarge.#{$ext}");
  }
  
  @each $bp-name, $bp-value  in $image-breakpoints {
    @media(max-width: $bp-value) {
      background-image: image-url("#{$path}-#{$bp-name}.#{$ext}");
    }
  }
}